.content {
    width: 600px;
    margin: 0 auto;
    padding: 0px 20px 20px;
    background: white;
    border: 2px solid navy;
}
h1 {
    color: navy;
}
.inputs {
    padding: 1em;
}
.inputs label {
    display: block;
}
.inputs input[type='text'] {
    width: 100%;
}
.display {
    margin-top: 1em;
    margin-bottom: 1em;
}
.display label {
    width: 5em;
    padding-right: 1em;
    float: left;
    clear: both;
}
.debug {
    background-color: yellow;
    display: block;
    clear: both;
    white-space: pre;
    font-family: monospace;
}
.footer {
    background-color: #E0E0E0;
    display: block;
    clear: both;
}
table {
    border-width: 4px 4px 4px 4px;
    border-spacing: 1px;
    border-style: solid solid solid solid;
    border-color: gray gray gray gray;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}
th {
    border-width: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border-style: solid solid solid solid;
    border-color: gray gray gray gray;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}
td {
    border-width: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border-style: solid solid solid solid;
    border-color: gray gray gray gray;
    vertical-align: top;
}
